.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 212px;
  height: 52px;
  padding: 16px 10px 16px 10px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
}

.btn:disabled {
  border: 1px solid #272a31;
  background-color: transparent;
  color: #ffffff;
}

.variant_1 {
  border: none;
  background:  var(--accent-color);
  color: #000000;
}

.variant_2 {
  color: var(--base-invert-color);
  border: 1px solid var(--color-1);
  background-color: transparent;

  &:hover {
    color:  var(--accent-color);
    border: 1px solid  var(--accent-color);
    background-color: transparent;
  }
}

.variant_3 {
  color: var(--base-invert-color);
  border: 1px solid rgba(136, 148, 183, 1);
  background-color: transparent;
}

.variant_4 {
  background-color: var(--accent-color);
  box-shadow: 0;
  border: none;
}

.variant_5 {
  color:  var(--accent-color);
  border: 1px solid  var(--accent-color);
  background-color: transparent;

  &:hover {
    color: var(--base-invert-color);
    border: 1px solid var(--color-1);
    background-color: transparent;
  }
}

.variant_6 {
  color: var(--base-invert-color);
  background-color: #32353C;
  border: none;
}

.xl {
  height: 88px;
}

.block {
  width: 100%;
}

.upper {
  text-transform: uppercase;
}
