.component {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 90px;
  padding: 26px 0 36px 0;
}

.metamask {
  display: block;
  width: 20px;
  height: 20px;

  background: url('./metamask_logo.svg') center no-repeat;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__item a {
  color: var(--base-invert-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}