.card {
  display: flex;
  flex-direction: column;
  background: #272a31;
}

.s {
  padding: 16px;
  border-radius: 16px;
}

.sm {
  padding: 24px;
  border-radius: 24px;
}

.sm2 {
  padding: 24px;
  border-radius: 12px;
}

.m {
  padding: 32px;
  gap: 32px;
  border-radius: 24px;
}

.md {
  padding: 36px;
  border-radius: 24px;
}

.xxl {
  padding: 95px 70px;
  border-radius: 24px;
}
