.component {
  margin: 0;
}

.color {
  &-1 {
    color: var(--base-invert-color);
  }

  &-2 {
    color: var(--accent-color);
  }

  &-3 {
    color: var(--color-3);
  }
}

.variant {
  &-48_60 {
    font-size: 48px;
    line-height: 60px;
  }

  &-13_16 {
    font-size: 13px;
    line-height: 16px;
  }

  &-14_20 {
    font-size: 14px;
    line-height: 20px;
  }

  &-16_24 {
    font-size: 16px;
    line-height: 24px;
  }

  &-20_26 {
    font-size: 20px;
    line-height: 26px;
  }

  &-24_32 {
    font-size: 24px;
    line-height: 32px;
  }

  &-28_36 {
    font-size: 28px;
    line-height: 36px;
  }

  &-38_48 {
    font-size: 38px;
    line-height: 48px;
  }

  &-96_120 {
    font-size: 96px;
    line-height: 120px;
  }
  
  &-92_96 {
    font-size: 92px;
    line-height: 96px;
  }
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}