.badge__advantages {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 16px;
    border-radius: 100px;
}

.col__1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
}

.col__2 {
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;

}

.badge__advantages__1 {
    background: #FFF959;
    color: #1A1D22;
}

.badge__advantages__2 {
    background: #7AD69E;
    color: #1A1D22;
}

.badge__advantages__3 {
    background: transparent;
    border: 1px solid #FFFFFF;
}
.badge__advantages__4 {
    background: linear-gradient(259.09deg, #5CEE9C 8.08%, #FFFB1F 91.92%), #FFF959;
    color: #1A1D22;
}

.badge__advantages__5 {
    background: linear-gradient(0deg, #FFF61B, #FFF61B), #FFF959;
    color: #1A1D22;
}

.badge__advantages__6 {
    background: linear-gradient(0deg, #3287F5, #3287F5), #FFF959;
}

.badge__advantages__7 {
    padding: 1px;
    background: linear-gradient(259.09deg, #5CEE9C 8.08%, #FFFB1F 91.92%), #FFF959;
}

.row {
    background-color: #1A1D22;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 31px;
    gap: 16px;
    border-radius: 100px;
}


.badge__social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    width: 147px;
    height: 52px;
    background: #FBFEF9;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #272A31;
}

.ico__discord {
    display: block;
    width: 24px;
    height: 24px;
    background: url(./ico-discord.svg) center no-repeat;
}

.ico__twitter {
    display: block;
    width: 24px;
    height: 24px;
    background: url(./ico-twitter.svg) center no-repeat;
}

.ico__instagram {
    display: block;
    width: 24px;
    height: 24px;
    background: url(./ico-inst.svg) center no-repeat;
}

.ico__medium {
    display: block;
    width: 24px;
    height: 24px;
    background: url(./ico-medium.svg) center no-repeat;
}

