.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1a1d22;
  font-size: 16px;
  border-radius: 56px;
  padding: 16px 32px;

  &__1 {
    padding: 16px 28px;
    background: #fbfef9;
    color: #272a31;
  }

  &__2 {
    color: #272a31;
    padding: 12px 20px;
    background: var(--accent-color);
    border-radius: 40px;
  }

  &__3 {
    background: #fff959;
    border-radius: 64px;
  }

  &__4 {
    background: #7ad69e;
    border-radius: 80px;
  }

  &__5 {
    color: var(--base-invert-color);
    border: 1px solid var(--base-invert-color);
    background-color: transparent;
  }

  &__6 {
    font-size: 82px;
    background: linear-gradient(259.09deg, #5cee9c 8.08%, #fffb1f 91.92%),
      #fff959;
  }

  &__7 {
    color: var(--base-invert-color);
    background: #3287F5;
  }
}

.ico {
  display: inline-block;
  height: 24px;
  width: 24px;

  &__discord {
    background: url(./ico-discord.svg) center no-repeat;
  }

  &__twitter {
    background: url(./ico-twitter.svg) center no-repeat;
  }

  &__instagram {
    background: url(./ico-inst.svg) center no-repeat;
  }

  &__medium {
    background: url(./ico-medium.svg) center no-repeat;
  }
}
