.container {
  &__header {
    margin-bottom: 32px;
  }
  &__controls {
    display: flex;
    justify-content: center;
    padding-top: 62px;
  }
}

.row {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 42px;
}
