:root {
  --base-color: #1A1D22;
  --base-invert-color: #FFFFFF;
  --acent-color: #0CFF8A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--base-invert-color);
  font-size: 15px;
  background-color: var(--base-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
}