.ico {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowUp {
  background-image: url('./arrowUp.svg');
}

.arrowDown {
  background-image: url('./arrowDown.svg');
}